<div id="search-bar">

</div>
<div id="controls">
  <button class="btn-invoice btn-green-box" id="add-btn" (click)="openNewInvoiceform()">Dodaj</button>
</div>
<div class="load" *ngIf="!PageLoaded"></div>

<table mat-table [dataSource]="this.data" *ngIf="PageLoaded">

    <!-- Name Column -->
    <ng-container matColumnDef="Numer">
      <th mat-header-cell *matHeaderCellDef> Numer </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Sprzedawca">
            <th mat-header-cell *matHeaderCellDef> Sprzedawca </th>
            <td mat-cell *matCellDef="let element"> {{element.seller}} </td>
          </ng-container>

              <!-- Name Column -->
    <ng-container matColumnDef="Data wystawienia">
        <th mat-header-cell *matHeaderCellDef> Data wystawienia </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

          <!-- Name Column -->
    <ng-container matColumnDef="Całkowity koszt">
        <th mat-header-cell *matHeaderCellDef> Całkowity koszt </th>
        <td mat-cell *matCellDef="let element"> {{element.totalCost}}zł </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="open(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page" >
  </mat-paginator>
