table{
    width: 100%;
   }
   
   #tabs{
     height: 10vh;
   }
 
   .mat-row {
     cursor: pointer;
   }
   
   .mat-row:hover{
     transition: ease-in 0.1s;
     background-color: rgb(220, 236, 241);
   }

   #controls{
    width: 100%;
  }

  #search-bar{
    justify-content: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .btn-invoice{
    width: 10em;
    height: 2em;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }
