<div class="load" *ngIf="!PageLoaded"></div>
<div id="content"  *ngIf="PageLoaded">
    <p id="fv">{{invoice.name}}</p>
    <table>
        <tr>
            <th>Produkt</th>
            <th>Opis</th>
            <th>Ilość</th>
            <th>Cena netto</th>
        </tr>
        <tr *ngFor="let item of invoice.items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td class="td-quantity">{{item.quantity}}</td>
            <td class="td-price">{{item.price}} zł</td>
        </tr>
    </table>
</div>