@model PSW5.Models.UserModel

<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<p class="title">Logowanie</p>
<hr />
<div class="main">
    <div class="loginFrame">
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="dataFields">
                <p class="dataText"> Nazwa użytkownika</p>
                <input asp-for="login" class="loginInput" autocomplete="off"/>
            </div>
            <div class="dataFields">
                <p class="dataText">Hasło</p>
                <input asp-for="password" class="loginInput" type="password"/>
            </div><br/>
            <div class="dataFields">
                <input type="submit" value="Zaloguj" class="LoginButton" />
            </div>
        </form>
    </div>
</div>