
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<div id="sidebar">

    <div class="link-wraper">
        <a routerLink="/dashboard" routerLinkActive="selected" class="menu-item"> <img src="/assets/employee.png" class="menu-icon"> Pracownicy</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/invoices"  routerLinkActive="selected" class="menu-item"> <img src="/assets/invoice.png" class="menu-icon"> Faktury</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/printers"  routerLinkActive="selected" class="menu-item"> <img src="/assets/printer.png" class="menu-icon"> Drukarki</a>
    </div>

    <div class="link-wraper">
        <a routerLink="/computers"  routerLinkActive="selected" class="menu-item"> <img src="/assets/computer.png" class="menu-icon"> Komputery</a>
    </div>

</div>