* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px;
    background-color: #4a4e69;
}

.project-name {
    float: left;
    font-family: Saira;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    margin-right: 10px;
}

nav{
    margin-left: 5%;
    width: 82%;
}

#LoginLink {
    float: right;
}

#LoginLink:hover {
    color: #ef8354;
}

.nav-links{
    display: inline-block;
}

.nav-item {
    font-family: Saira;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: #ef8354;
}

.container {
    padding: 10px 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    border-top: solid 1px;
    background-color: #4a4e69;
    color: white;
    text-align: center;
}
