.input{
    display: block;
    border-radius: 16px;
    border: 0;
    border: 1px solid lightgray;
    background: transparent;
    transition: border-color 0.2s;
    outline: 0;
    font-family: Bahnschrift;
    font-size: large;
    text-align: center;
    
}


#pc{
    height: 35px;
    width: 400px;
    margin-left: 100px;
    margin-top: 75px;
}

#problem{
    height: 250px;
    width: 500px;
    margin-left: 50px;
    margin-top: 25px;
    resize: none;
}


  #send{
    height: 50px;
    width: 300px;
    font-size: large;

    margin-top: 100px;
    margin-left: 150px;
  }

.input:focus::placeholder{
    transition: 0.25s;
    color: transparent;
}

.input:focus{
    border: 1px solid #0674f1;
}